a
{
	color: black;
	text-decoration: none;
}

.requests
{
	background: url("../Images/pp.png") no-repeat;
	background-position-y: 4px;
	padding-left: 25px;
	color: #bdbdbd;
}

.invite
{
	background: url("../Images/invite.png") no-repeat;
	background-position-y: 4px;
	padding-left: 15px;
	margin-right: 31px;

}

.friend-request
{
	display: none;
}

.topic-box-invite
{
	display: none;
}

.left-sidebar
{
	width: 19.791666%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
}

.sidebar-left ul li
{
	list-style-type: none;
}

.sidebar-right ul li
{
	list-style-type: none;
}

.sidebartop li a span
{
	width: 110px;
}

.feeds h2
{
	font-family: 'Muli', sans-serif;
}

.entries{
	background-image: url("../Images/tab.png");
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	width: 100%;
	height: 67px;
	display: none;
}


.bottomhead
{
	list-style: none;
}

.bottomhead li
{
	float: left;
	width: 21.923076%;
	margin-left: 10px;
	width: 21.923076%;
}

.exception
{
	margin-right: 12px;

}

.bottomhead li button{
		width: 100%;
		border: 0;
		height:28px;
		font-family: 'Muli', sans-serif;
		font-size: 10px;
		background-color: transparent;
}

.activebtn
{
	background: url("../Images/activebtn.png") no-repeat;
}

.inactivebtn
{
	background: url("../Images/inactivebtn.png") no-repeat;
}

.bottomhead li button:hover
{
	background: url("../Images/activebtn.png") no-repeat;
	cursor: pointer;
}
.lefthead, .righthead
{
	width: 50%;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 8px;
	font-size: 14px;
	font-family: 'Muli', sans-serif;
}

.feed
{
	background: url("../Images/pixel.png") repeat-x;
	background-position: bottom;
	padding-top:2.884615%;
	padding-bottom:2.884615%;
}

.feedwrapper li
{
	list-style-type: none;
}

.displaypic
{
	position: relative;
	width:13.461538%;
	height: 13.461538%;
}

.profile
{
	width: 82%;
}

.profilepic
{
	position: relative;
	width: 100%;
	height: 100%;
}

.curvepp
{
	position: absolute;
	top:0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.author li
{
	float: left;
	background: url("../Images/pixel.png") repeat-y;
	padding-left: 5px;
	padding-right: 5px;
	font-family: 'Istok Web', sans-serif;
	font-size: 11px;
}

.notify
{
	text-transform: uppercase;
	font-family: 'Istok Web', sans-serif;
	font-size: 10px;
}

.topicbox
{
	font-family: 'Istok Web', sans-serif;
	font-size: 11px;
}

.feed a
{
	color: #309eb0;
}

.profile p a
{
	color: #000000;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
}

.profile p
{
	margin-bottom: 5px;
}

.feed
{
	color: #8f8f8f;
}


.notify.redbox
{
	color: #d53f1c;
}

.notify.bluebox
{
	color: #309eb0;
}

.Subscribed
{
	color: #709620;
}

.author li:first-child
{
	background-image: none;
	padding-left: 0;
}



.footer-navigation, .about
{
	padding-top:2.083333%;
	padding-bottom: 1.770833%;
	font-family: 'Istok Web', sans-serif;
	font-size: 9px;
	color: #979797;
}

.footer-navigation li a
{
	color: #979797;
}

.footer-navigation li
{
	list-style-type: none;
	float: left;
	background: url("../Images/pixel.png") no-repeat;
	background-position-y: 6px; 
	padding-left: 5px;
	padding-right: 5px;
}

.footer-navigation li:first-child
{
	background-image: none;
	padding-left: 0;
}

.activelink
{
	color: #5c5c5c;
}
